services:
  backend:
    build: .
    ports:
      - '4000:4000'
    environment:
      - PORT=4000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis

  redis:
    image: redis:latest
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

volumes:
  redis_data: